@font-face {
    font-family: "STFQLBYTJW";
    src: url('./STFQLBYTJW.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FZZJ-ZSXKJW";
    src: url('./FZZJ-ZSXKJW.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FZZJ-ZSXKJW";
    src: url('./FZZJ-ZSXKJW.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FZSJ-RYTJW";
    src: url('./FZSJ-RYTJW.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FZSuXSMCTJW";
    src: url('./FZSuXSMCTJW.TTF');
    font-weight: normal;
    font-style: normal;
}